@model ExampleWebApp.Models.BusinessViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to @Html.DisplayTextFor(x => x.BusinessName)</p>
    <img src="/wut.gif" class="img-responsive" alt="Image" />
</div>